.about {
	display: flex;
	flex-direction: column;
	align-items: center;
	&__title {		
		font-size: 30px;
		font-weight: 300;
		position: relative;
		text-align: center;
		margin-top: 24.5vh;
		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 47px;
			height: 47px;
			top: -130%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: url('../../../images/about.svg');
		}

	}
	&__subtitle {
		font-weight: 300;
		font-size: 16px;
		text-align: center;
		width: 498px;
		margin-top: 2.2vh;
	}
	&__text {
		margin-top: 6vh;
		text-align-last: left;
		line-height: 20px;
		width: 520px;
		height: 180px;
		border: 1px solid #b2b2b2;
		border-radius: 3px;
		color: #b2b2b2;
		font-size: 20px;
		font-weight: 400;
		padding: 10px;
	}
	&__btn {
		width: 115px;
		height: 50px;

		font-weight: 400;
		font-size: 20px;
		color: #fff;
		text-align: center;

		background-color: #435993;
		border-radius: 8px;
		margin-top: 9.9vh;
	}
	padding-bottom: 10vh;
}