.js {
	margin-top: 9.5vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	&__title {
		font-size: 3rem;
		font-weight: 300;
		margin-top: 129px;
		position: relative;
		text-align: center;
		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 47px;
			height: 47px;
			top: -130%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: url('../../../images/js.svg');
		}
	}
	&__levels {
		font-weight: 300;
		display: flex;
		font-size: 1.3rem;
		margin-top: 6.5vh;
		justify-content: space-between;
		width: 768px;
		position: relative;
		
		z-index: 15;
	}
	&__level {
		width: 178px;
		position: relative;
		&-1 {
			&:after {
				content: '';
				display: block;
				position: absolute;
				height: 28px;
				width: 1.5px;
				border-left: 1px dashed darken(#b2b2b2, 20%);
				bottom: -30px;
				z-index: 20;
			}
		}
		&-2 {
			width: 150px;
			&:after {
				content: '';
				display: block;
				position: absolute;
				height: 28px;
				width: 1.5px;
				border-left: 1px dashed darken(#b2b2b2, 20%);
				bottom: -30px;
				z-index: 20;
			}
		}
		&-3 {			
			&:after {
				content: '';
				display: block;
				position: absolute;
				height: 28px;
				width: 1.5px;
				border-left: 1px dashed darken(#b2b2b2, 20%);
				bottom: -30px;
				z-index: 20;
			}
		}
		&-4 {
			text-align: right;
			
		}
	}
	&__range {
		appearance: none;
		-webkit-appearance: none;
		height: 18px;
		width: 768px;
		outline: none;
		position: relative;
		background: linear-gradient(to right, #ccb1f1 0%, #44408f 65%, #FFF 65%, #fff 65%);
		margin-top: 1.8vh;
	}
	&__range::-webkit-slider-thumb {
		appearance: none;
		-webkit-appearance: none;
		width: 18px;
		height: 18px;
		position: relative;
		bottom: -18px; 
		width: 18px;
		height: 18px;
		border-radius: 0 50% 50% 50%;
		border: 3px solid #b2b2b2;
		transform: rotate(45deg);
		margin-top: 20px;
	}
	&__range::-moz-range-track {
		appearance: none;
		-moz-appearance: none;
		width: 18px;
		height: 18px;
		position: relative;
		bottom: -18px;
		width: 18px;
		height: 18px;
		border-radius: 0 50% 50% 50%;
		border: 3px solid #b2b2b2;
		transform: rotate(45deg);
		margin-top: 20px;
	}
	&__triangle {
		height: 18px;
		width: 770px;
		position: absolute;
		bottom: -24px;
		z-index: 5;
		transform: rotate(-1deg);
		background-color: #fff;
	}
}